<%= link_to "一覧へ戻る",  {:controller => 'quizzes', :action => 'list_all'}, :class => 'btn btn-primary' %>

<hr>
<h2>内容を編集する</h2>
<br>

<div class="container">

  <%= form_tag "/quizzes/#{@quiz.id}", method: :put do %>
  
    問題: 
    <br>
    <div class="input-group">
    <%= text_area_tag :question, @quiz.question, class: "form-control"  %>
    </div>
    <br>
    <br>

   	解答: 
   	<br>
    <ul class="list-group">
      <li class="list-group-item"><%= text_area_tag :selection, @quiz.selection, class: "form-control" %></li>
      <li class="list-group-item"><%= text_area_tag :selection2, @quiz.selection2, class: "form-control" %></li>
      <li class="list-group-item"><%= text_area_tag :selection3, @quiz.selection3, class: "form-control" %></li>
      <li class="list-group-item"><%= text_area_tag :selection4, @quiz.selection4, class: "form-control" %></li>
    </ul>

   	正解：
   	<br>
   	<%= text_area_tag :answer, @quiz.answer, class: "form-control" %>
   	<br>
    <hr> 	
   	<%= submit_tag "保存する", :class => "btn btn-success" %>
   	<%= link_to "削除する", "/quizzes/#{@quiz.id}", method: :delete, :class => "btn btn-danger"%>
    
  <% end %>
<br>
</div>