<%= link_to "次の問題",  {:controller => 'quizzes', :action => 'index'}, :class => 'btn btn-primary' %>
<%= link_to "追加",  {:controller => 'quizzes', :action => 'new'}, :class => 'btn btn-success' %>
<%= link_to "一覧",  {:controller => 'quizzes', :action => "list_all"}, :class => 'btn btn-secondary' %>


<hr>

  問題：
  <br>
  <%= simple_format(@quiz.question) %>
  <br>
  <br>
  選択肢：
  <br>
    <ul class="list-group">
      <li class="list-group-item"><%= simple_format(@quiz.selection) %></li>
      <li class="list-group-item"><%= simple_format(@quiz.selection2) %></li>
      <li class="list-group-item"><%= simple_format(@quiz.selection3) %></li>
      <li class="list-group-item"><%= simple_format(@quiz.selection4) %></li>
    </ul>  
  <br>

  <div class="accordion" id="accordionExample">
    <div class="card">
    </div>
    <div class="card">
      <div class="card-header" id="headingAnswer">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAnswer" aria-expanded="false" aria-controls="collapseAnswer">
            正解を表示する
          </button>
        </h5>
      </div>
      
      <div id="collapseAnswer" class="collapse" aria-labelledby="headingAnswer" data-parent="#accordionExample">
        <div class="card-body">
          <%= simple_format(@quiz.answer) %>
        </div>
      </div>
      
    </div>
  </div>

<br>