<%= link_to "問題を表示する",  {:controller => 'quizzes', :action => 'index'}, :class => 'btn btn-primary' %>
<%= link_to "問題を追加する",  {:controller => 'quizzes', :action => 'new'}, :class => 'btn btn-success' %>
<%= link_to "一覧表示",  {:controller => 'quizzes', :action => "list_all"}, :class => 'btn btn-secondary' %>


<hr>

  問題：
  <br>
  <%= simple_format(@quizzes.question) %>
  <br>
  <br>
  選択肢：
  <br>
  <%= simple_format(@quizzes.selection) %>
  <br>
  <hr>


  <div class="accordion" id="accordionExample">
    <div class="card">
      
      <div class="card-header" id="headingAnswer">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAnswer" aria-expanded="false" aria-controls="collapseAnswer">
            正解を表示する
          </button>
        </h5>
      </div>
      
      <div id="collapseAnswer" class="collapse" aria-labelledby="headingAnswer" data-parent="#accordionExample">
        <div class="card-body">
          <%= simple_format(@quizzes.answer) %>
        </div>
      </div>
      
    </div>
  </div>

<br>