<%= link_to "問題を表示する",  {:controller => 'quizzes', :action => 'index'}, :class => 'btn btn-primary' %>
<%= link_to "問題を追加する",  {:controller => 'quizzes', :action => 'new'}, :class => 'btn btn-success' %>

<hr>

  問題：
  <br>
  <%= simple_format(@quizzes.question) %>
  <br>
  <br>
  選択肢：
  <br>
  <%= simple_format(@quizzes.selection) %>
  <br>
  <hr>
  

  <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      正解を表示する
  </button>
  
  <div class="collapse" id="collapseExample">
    <br>
    <div class="border p-3">
      <%= simple_format(@quizzes.answer) %>
    </div>
  </div>