<%= link_to "ＴＯＰへ戻る",  {:controller => 'quizzes', :action => 'index'}, :class => 'btn btn-primary' %>
<hr>

  <% @quizzes.each do |quiz| %>

    問題<%= quiz.id %>：
    <br>
    <%= simple_format(quiz.question) %>
    <br>
    選択肢：
    <br>
    <ul class="list-group">
      <li class="list-group-item"><%= simple_format(quiz.selection) %></li>
      <li class="list-group-item"><%= simple_format(quiz.selection2) %></li>
      <li class="list-group-item"><%= simple_format(quiz.selection3) %></li>
      <li class="list-group-item"><%= simple_format(quiz.selection4) %></li>
    </ul>
    <br>
    解答
    <br>
    <%= simple_format(quiz.answer) %>
    <%= link_to "編集する", "/quizzes/#{quiz.id}/edit",:class => 'btn btn-warning' %>
    <hr>
  <% end %>

<%= link_to "ＴＯＰへ戻る",  {:controller => 'quizzes', :action => 'index'}, :class => 'btn btn-primary' %>