<%= link_to "ＴＯＰページへ戻る", "/quizzes" %>
<hr>
<h2>問題を追加する</h2>
<br>

<div class="container">

  <%= form_tag "/quizzes", method: :post do %>
  
    問題: 
    <br>
    <%= text_field_tag :question  %>
    <br>
    <br>

   	解答: 
   	<br>
   	<%= text_field_tag :selection %>
   	<br>
   	<br>

   	正解：
   	<br>
   	<%= text_field_tag :answer %>
   	<br>
   	<br>
    <hr> 	
   	<%= submit_tag "問題を追加する", :class => "btn btn-success" %>
    
  <% end %>
<br>
</div>